.vscode/
**/.venv/
pose-data/
__pycache__/
Arm_poseVSmocap_pose/takes
data/
logs/
**.pth
*.pt
wandb/
*results*/
*ckpts/
*.avi
*.pyc
src/sync/final_sync/output_csvs
output_*.txt
mmc_amd64.sif
bash_commands.sh
commands.txt

**/build/**
**/*.so